<script>
export default {
  data() {
    return {
      inputValue: '',
    };
  },

  emits: ['submit'],

  methods: {
    addTodo() {
      this.$emit('submit', this.inputValue);
      this.inputValue = '';
      this.$refs.newTodo.focus();
    },
  },
};
</script>

<template>
  <div class="p-4 bg-gray-100">
    <div class="flex items-center">
      <input
        ref="newTodo"
        v-model="inputValue"
        type="text"
        class="flex-1 mr-2 py-2 px-4 rounded-md border border-gray-300"
        placeholder="Новая задача"
        autofocus
      />
      <button
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md"
        @click="addTodo"
      >
        Добавить
      </button>
    </div>
  </div>
</template>
