<script>
import TodoItem from './TodoItem.vue';
import TodoForm from './TodoForm.vue';

export default {
  components: {
    TodoItem,
    TodoForm,
  },

  props: {
    title: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      todos: [],
    };
  },

  mounted() {
    this.fetchTodos();
  },

  methods: {
    fetchTodos() {
      fetch('https://dummyapi.online/api/todos')
        .then((response) => response.json())
        .then((data) => {
          this.todos = data.slice(0, 10);
        });
    },

    addTodo(title) {
      if (!title) return;

      this.todos = [
        ...this.todos,
        {
          id: Date.now(),
          title: title,
          completed: false,
        },
      ];
    },

    toggleTodo(id) {
      const index = this.todos.findIndex((todo) => todo.id === id);

      if (index === -1) return;

      this.todos = [
        ...this.todos.slice(0, index),
        { ...this.todos[index], completed: !this.todos[index].completed },
        ...this.todos.slice(index + 1),
      ];
    },

    deleteTodo(id) {
      this.todos = this.todos.filter((todo) => todo.id !== id);
    },
  },
};
</script>

<template>
  <div class="max-w-sm md:max-w-lg mx-auto my-10 bg-white rounded-md shadow-md overflow-hidden">
    <h1 class="text-2xl font-bold text-center py-4 bg-gray-100">{{ title }}</h1>
    <ul class="list-none p-4" v-show="todos.length">
      <TodoItem
        v-for="todo in todos"
        :key="todo.id"
        :todo="todo"
        @toggle="toggleTodo"
        @remove="deleteTodo"
      />
    </ul>
    <TodoForm @submit="addTodo" />
  </div>
</template>
